CompileFlags:
  Add:
    - -isystem
    - /opt/homebrew/Cellar/gcc/15.1.0/include/c++/15
    - -isystem
    - /opt/homebrew/Cellar/gcc/15.1.0/include/c++/15/aarch64-apple-darwin24
    - -isystem
    - /opt/homebrew/Cellar/gcc/15.1.0/include/c++/15/backward
    - -isystem
    - /opt/homebrew/Cellar/gcc/15.1.0/lib/gcc/current/gcc/aarch64-apple-darwin24/15/include
    - -isystem
    - /opt/homebrew/Cellar/gcc/15.1.0/lib/gcc/current/gcc/aarch64-apple-darwin24/15/include-fixed
    - -isystem
    - /Library/Developer/CommandLineTools/SDKs/MacOSX15.sdk/usr/include
  Remove: -f*
